<template>
  <div id="synonyms-wrapper">
    <h3 v-if="synonymsList.length">Synonyms for {{ wordSelected }}:</h3>
    <ul>
      <li v-for="syn in synonymsList"
          :key="syn">
          <button @click="$emit('synonym-click', syn)" type="button">{{ syn }}</button>
        </li>
    </ul>
  </div>
</template>

<script>
import getSynonyms from '../synonym.service'

  export default {
    name: 'synonymsList',
    props: ['wordSelected'],
    data: function(){
      return {
        synonymsResponse: []
      }
    },
    computed: {
      synonymsList: function(){
        return this.synonymsResponse.map( el => el.word )
      }
    },
    watch: {
      wordSelected: function(word){
        getSynonyms(word)
          .then( response => {
            this.synonymsResponse = response.data
          })
          .catch( error => console.log(error) )
      }
    }

  }
</script>

<style scoped>
#synonyms-wrapper {
  position: absolute;
  left: calc(50% + 300px);
  padding: 0 20px;
}
#synonyms-wrapper ul {
  list-style: none;
  padding: 0;
  line-height: 1.6;
}
#synonyms-wrapper li {
  cursor: pointer;
}
</style>