<template>
  <div id="text-editor">
    <div id="control-panel">
      <div id="format-actions">
        <button v-for="command in commands"
                className="format-action"
                type="button"
                :title="command.title"
                :data-command="command.command"
                :style="command.css"
                @click="applyFormatting(command.command)"
                :key="command.title">
          {{ command.shortTitle }}
        </button>
      </div>
    </div>
    <div id="file-zone">
      <div id="file" contenteditable @dblclick="onDbClickFileZone">
        {{ text }}
      </div>
      <synonyms-list :word-selected="selectedWord" @synonym-click="synonymChange"/>
    </div>
  </div>
</template>

<script>
import synonymsList from './synonyms-list'
import getMockText from '../text.service'
import commands from '../commands.data'

export default {
  name: "TextEditor",
  components: {synonymsList},
  data: function() {
    return {
      text: "",
      commands: commands,
      selectedWord: "",
      selectedRange: "",
    }
  },
  methods: {
    setMockText: function() {
      let promiseMockText = getMockText();
      promiseMockText
        .then(
          result => {
              this.text = result
          },
          error => {
            console.log("Error while loading")
            console.log(error)
          }
        )
    },
    applyFormatting: function(command){
      document.execCommand(command, false, null);
    },
    onDbClickFileZone: function(e){
      this.selectedWord = this.getSelection()
    },
    getSelection: function(){
      let text = "";
      if (window.getSelection) {
          text = window.getSelection().toString();
      }
      return text;
    },
    synonymChange: function(syn){
      let selected, range, replacementText = syn;
      if (window.getSelection) {
        selected = window.getSelection();

        if(!selected.toString()) return;

        let selectedArr = selected.toString().split("");

        if( selectedArr[selectedArr.length - 1] === " " ){
          replacementText = replacementText + " ";
        }
        if( selectedArr[0] === selectedArr[0].toUpperCase() ){
          let replacementArr = replacementText.split("")
          replacementArr.unshift( replacementArr.shift().toUpperCase() )
          replacementText = replacementArr.join("");
        }

        if (selected.rangeCount) {
            range = selected.getRangeAt(0);
            range.deleteContents();
            range.insertNode(document.createTextNode(replacementText));
        }
    }
    }
  },
  created: function () {
    this.setMockText()
  }
};
</script>
<style scoped>
    #control-panel {
        background-color: #fff;
        height: 25px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 5px;
    }
    #format-actions {
        width: 200px;
        margin-right: 400px;
    }
    #text-editor {
      flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    #file-zone {
        background-color:#f1f0f0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    #file {
        width: 600px;
        flex-grow: 1;
        background-color: #fff;
        border: 1px solid #e4dede;
        padding: 10px 20px;
        box-sizing: border-box;
        line-height: 1.4;
        font-size: 14px;
    }
</style>
