<template>
  <div id="app">
    <Header/>
    <main>
      <TextEditor/>
    </main>
  </div>
</template>

<script>
import TextEditor from './components/TextEditor'
import Header from './components/Header'

export default {
  name: 'App',
  components: {
    Header,
    TextEditor
  }
}
</script>

<style>
#app {
  font-family: sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
</style>
